.hover_fade {
  display: inline-block ;
  vertical-align: middle ;
  transform: translateZ(0) ;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0) ;
  backface-visibility: hidden ;
  overflow: hidden ;
  transition-duration: 0.3s;
  transition-property: color, background-color;
}

.hover_fade:hover {
  background-color: #424242;
  color: white ;
}